* {
  box-sizing: border-box;
}

body {
  background-color: #216060;
  margin: 0;
  font-family: Helvetica;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.card {
  grid-column: 2 / 4;
  grid-row: 3 / 8;
  background-color: #FFFFFF;
}

.cardEl {
  display: grid;
  justify-content: center;
  padding: 2.5vmin;
}

#online {
  justify-content: flex-end;
  font-style: italic;
  font-size: 2vmin;
  color: #C7C7C7;
  padding: 1.5vmin;
}

#img > img {
  width: 150px;
  border: 2px solid #76D18E;
  border-radius: 50%;
}

#name {
  font-weight: 800;
  font-size: 3.5vmin;
}

#rating{
  background-color: #F3F3F3;
  padding: 4vmin;
}

#pricing {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5vmin;
}

#contact {
  display: flex;
  flex-grow: 1;
  font-size: 3vmin;
}

#call {
  background-color: #73D28C;
  flex-grow: 1;
}

#text {
  background-color: #67BE7F;
  flex-grow: 1;
}

